.Header {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Header h1 {
    color: darkblue;
}
.NavBar-menu {
    padding: 5px;
}
.NavBar-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavBar-menu ul li {
    padding: 5px;
}
.NavBar-menu-links {
    text-decoration: none;
    color: #444;
    padding: 2px;
  }
  
.NavBar-menu-current {
    font-weight: bold;  
    border-bottom: 2px solid red;
  }
  